<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand">Provider CRUD </a>

  <div id="navbarNav" class="collapse navbar-collapse">
    <ul class="navbar-nav ml-auto ">
      <li class="nav-item">
        <a class="nav-link" routerLinkActive="active" routerLink="/provider-details">Show Providers</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLinkActive="active" routerLink="/add-provider">Add Provider</a>
      </li>
            
    </ul>
  </div>
</nav>

<router-outlet></router-outlet>